@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
header h1{
    font-family: 'Abril Fatface';
    text-align: center;
}

header div{
    font-family: 'Roboto slab';
}

body{
    font-family: 'Source Sans Pro';
    background-color: #eee;
}

.newspaper-container{
    background: white;
    width: 700px;
    border-radius: 15px;
    margin: 2.2rem auto;
    padding: 1rem;
    box-shadow: 0 0 5px #ddd;
}
 ul{
    list-style: none;
    border-top: 1px solid rgb(43, 37, 37);
    border-bottom: 1px solid rgb(43, 37, 37);
 }

 li{
    margin: 0;
    display:inline-block;
    padding: 0.5rem;
    border: 1rem;
    color: #777;
 }

 h5{
    color: #dd3232;
 }

 .more-articles {
    display: inline-block;
 }

 a{
    color: #777;
    text-decoration: none;
 }